# copy this file to .env in project root directory and replace the values with your own

# Metrics
## OpenAI (Required for semantic metrics)
OPENAI_API_KEY=<your_openai_api_key>

# Augmentation
## Data root directory (Optional, default is ./data)
DATA_ROOT_PATH=<absolute_path_to_data_root_directory>
