Abbreviate the database schema identifier to make it slightly shorter:
Protocol_Name -> Protcl_Nm

Abbreviate the database schema identifier to make it slightly shorter:
WaterTemperature -> WaterTemp

Abbreviate the database schema identifier to make it slightly shorter:
Customer -> Custmr

Abbreviate the database schema identifier to make it slightly shorter:
{{ _IDENTIFIER_ }} ->